.banner{
    height: 65vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.banner__text{
    text-align: center;   
    z-index: 1;
    
}
.banner__image{
    background-image: url('../images/maskedban.png');
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    opacity: 0.7;
    z-index: -1;
}