*{
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
}
:root{
    --bg-color:rgb(207, 198, 198);
    --h1-color: #1A281F;
    --h2-color:#011A25;
    --h3-color: #a70427;
}



