.footer{    
   position: sticky;
   display: block;
   background-color: rgb(169, 150, 150);
   padding: 10px;
}
.footer__content{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.footer__content img{
    max-width: 40px;
    max-height: 40px;
    position: relative;
}

.footer__content img:hover{
    transform: scale(1.25);
}

.footer_text{       
    text-align: center;
    color:rgb(26, 6, 6);
    font-size: 80%;
}

