#show-form {
   display:none
  }

#show-label {
    background:antiquewhite;
    border-radius: 50px;
    border: none;
    padding: 3px 10px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
  }

 
  #form-container {
    display: none;
    
}
.checkbox{
  display: flex;
  align-items: center;
}
#form-subscripcion{
  margin-left: 10px;
}
  #show-form:checked + #form-container {
    display:block;    
    right: 0px;
    position: fixed;
    z-index: 1000;
    top:80px;
    background-color: var(--bg-color);
    padding: 5px;
  }
form{
    display:flex;
    justify-content: flex-end;
    flex-direction: column;
  }

@media(hover:hover){
  #show-label:hover{
      background-color: brown;
      color: yellow;
      transform: scale(1.3);
      font-size: 1.2em;
  } 
}