.list-skills{
    list-style: none;
    margin-bottom: 0px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.container-progress-bar{
    display:block;
    border:solid 5px black;
    width: 20px;
    height: 20px;
    z-index: 100;
}