header{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 15px;
    background-color: rgb(42, 35, 35);
    padding: 0px;
    margin: 0px;
    position: fixed;
    width: 100%;
    z-index:100;
    
}

.header img{
    max-width: 50px;
    max-width: 50px;
    border-radius: 100%;
    padding:10px;
    margin-right: auto;
}



.header a{
    color:antiquewhite;
    text-decoration: none;
}


.navbar-link{
    display: none;
}

@media(width>768px){
    .navbar-link{
        display: inline;
    }
}
@media(hover:hover){
    .header img:hover{
         opacity: 0.8;
    }
    .header a:hover{
        color:yellow;
        transform: scale(1.1);
        font-size: 1.1rem;
    }
}
